django >= 1.2.3

# Use a version of django-haystack patched to support raw query params (Needed
# to set facet.limit)
-e git://github.com/localbase/django-haystack.git#egg=django-haystack
pysolr
psycopg2
